---
account:
    USERNAME:
        user: USERNAME
        password: PASSWORD

        git_email: GIT_EMAIL
        git_name: GIT_NAME
        git_user: GIT_USER

        postgresql: true
        postgresql_user: POSTGRESQL_USER
        postgresql_password: md5POSTGRESQL_PASSWORD
