---
account:
    USERNAME:
        user: USERNAME

        git_email: EMAIL
        git_name: FULLNAME

        postgresql: true
        postgresql_user: USERNAME
        postgresql_password: md5PASSWORD_HASH
