---

user:
    USERNAME:
        ensure: present
        managehome: true

postgresql::server::role:
    USERNAME:
        password_hash: md5PASSWORD_HASH
        createdb: true
        createrole: true
        superuser: true
        replication: true

git::config:
    user.name:
        user: USERNAME
        value: FULLNAME

    user.email:
        user: USERNAME
        value: EMAIL
