account:
    USERNAME:
        user: ''

        git_user: ''
        git_name: ''
        git_email: ''
        ssh_authorized_keys:
            USERNAME:
                key: ''
                type: ''
        password: ''
        postgresql: true
        postgresql_user: ''
        postgresql_password: ''

postgresql::server::ipv4acls:
    - host all USERNAME 0.0.0.0/0 md5
